body{
    background-color: rgb(127, 229, 255);
}

#profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    padding: 30px;
}

a{
    text-decoration: none;
    color: rgb(226, 43, 162);
}