{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock  %}

{% block content %}
<div class="container" >
    <h1>User Details</h1>
    {% if user.profile_picture %}
        <img id='profile-picture' src="{{ user.profile_picture.url}}" alt="Profile Picture">
    {% else %}
        <img id='profile-picture' src="{% static 'default_profile_picture.jpg'%}" alt="default">
    {% endif %}
        <h2>Username: {{user.username}}</h2>
        <h2>First Name: {{user.first_name}}</h2>
        <h2>Last Name: {{user.last_name}}</h2>
        <h2>Email: {{user.email}}</h2>
        <h2>Role: {{user.role}}</h2>

        {% if logged_in_user.role == user.Role.ADMIN %}      
        <form action="/users/{{user.id}}/edit">
            {% csrf_token %}
            <button>Edit</button>
        </form>
        <form action="/users/{{user.id}}/delete" method='post'>
            {% csrf_token %}
            <button>Delete</button>
        </form>   
        <form action="{% url 'toggle-role' user.pk %}" method="post" >
                {% csrf_token %}
                <button type="submit">Change Role</button>
        </form>
        {% endif %}
</div>
{% endblock  %}