{% block content %}
<h1>Adding New Project</h1>
{% comment %} <form action="{% url 'project-list'%}"> {% endcomment %}
<form method='post' enctype='multipart/form-data' action="{% url 'project-list'%}">
    {% csrf_token %}
    <label for="name">Name</label>
    <br>
    <input value="{{project.name}}" type="text" name="name" id="name">
    <br>
    <br>
    <label for="name">Date</label>
    <br>
    <input value="{{project.date}}"  type="date" name="date" id="date">
    <br>
    <br>
    <label for="description">Description</label>
    <br>
    <input value="{{project.description}}"  type="text" name="description" id="description">
    <br>
    <br>
    {% comment %} <label for="pictures">Project Picture</label>
    <br>
    <input type="text" name="pictures" id="pictures"> {% endcomment %}
    <label for="pictures">Project Picture:</label>
    <br>
    <input value="{{project.pictures}}" value="{{user.pictures}}" name='pictures' id='pictures' type="file">
    <br>
    <br>
    <label for="designer">Designer</label>
    <br>
    <select name="designer" id="designer">
        {% for user in designers%}

            {% comment %} {% if user.role == user.Role.DESIGNER %} {% endcomment %}
                <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
                {% comment %} if {% endcomment %}
            {% comment %} {% endif %} {% endcomment %}
        {% endfor %}
    </select>

    {% comment %} <div id="designed-container">
        {{form.designer.label_tag}}
        {{form.designer}}

    </div> {% endcomment %}

    <br>
    <br>
    <button>Create</button>

</form>
{% endblock  %}