{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock  %}

{% block content %}

{% comment %} <h1>Adding New Project</h1> {% endcomment %}
<h1>{% if project %}Edit {{ project.name }} Project{% else %}Adding New Project{% endif %}</h1>
{% comment %} <form action="{% url 'project-list'%}"> {% endcomment %}
<form method='post' enctype='multipart/form-data'>
    {% csrf_token %}
    <label for="name">Name</label>
    <br>
    <input value="{{project.name}}"  type="text" name="name" id="name">
    <br>
    <br>
    <label for="name">Date</label>
    <br>
    <input value="{{project.date}}"  type="date" name="date" id="date">
    <br>
    <br>
    <label for="description">Description</label>
    <br>
    <input value="{{project.description}}"  type="text" name="description" id="description">
    <br>
    <br>
    {% comment %} <label for="pictures">Project Picture</label>
    <br>
    <input type="text" name="pictures" id="pictures"> {% endcomment %}
    <label for="pictures">Project Picture:</label>
    <br>
    <input value="{{project.pictures}}" name='pictures' id='pictures' type="file">
    <br>
    <br>
    <label for="designer">Designer</label>
    <br>
    <select name="designer" id="designer">
    {% if user.role == user.Role.ADMIN %}
            {% for designer in designers%}

                {% comment %} {% if user.role == user.Role.DESIGNER %} {% endcomment %}
                    <option value="{{designer.id}}">{{designer.first_name}} {{designer.last_name}}</option>
                    {% comment %} if {% endcomment %}
                {% comment %} {% endif %} {% endcomment %}
            {% endfor %}
    {% else %}
            <option value="{{user.id}}">{{user.first_name}}  {{user.last_name}}</option>
        </select>
    {% comment %} <input type="text" name="designer" id="designer" value="{{logged_in_user.first_name}} {{logged_in_user.last_name}}" readonly> {% endcomment %}
    {% endif %}



    {% comment %} <div id="designed-container">
        {{form.designer.label_tag}}
        {{form.designer}}

    </div> {% endcomment %}

    <br>
    <br>

    {% if form.errors %}
        <div class="error">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <button type='Submit'>{% if project %} Update {% else %} Create {% endif %} </button>
    {% comment %} <button>Update</button> {% endcomment %}
</form>
{% endblock  %}